/* ============================
   RESPONSIVE BREAKPOINTS
   ============================ */

/* XS – Extra Small (Mobile Portrait) */
@media (max-width: 575.98px) {
    /* your styles */
}

/* SM – Small (Mobile Landscape / Small Devices) */
@media (max-width: 767.98px) {
    .title-one {
        font-size: 30px;
    }
    .title-two {
        font-size: 50px;
    }
    .banner-inner-wrap p{
        font-size: 18px;
        line-height: 30px;
    }
    .homepage-banner-bg,
    .banner-inner-wrap{
        height: 750px;
        background-position: left;
    }
}

/* MD – Medium (Tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .title-one {
        font-size: 35px;
    }
    .title-two {
        font-size: 60px;
    }
    .banner-inner-wrap p{
        font-size: 20px;
        line-height: 30px;
    }
    .homepage-banner-bg,
    .banner-inner-wrap{
        height: 750px;
        background-position: left;
    }
    .navbar-collapse{
        background-color: #BC3863;
        padding: 15px;
    }
    .navbar-collapse li.nav-item a {
        color: #fff;
        border-bottom: 1px solid;
        padding: 10px 0;
    }
    .navbar-collapse ul{
        margin-bottom: 20px !important;
    }
}

/* LG – Large (Laptops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .title-one {
        font-size: 35px;
    }
    .title-two {
        font-size: 70px;
    }
    .banner-inner-wrap p{
        font-size: 20px;
        line-height: 30px;
    }
    .homepage-banner-bg,
    .banner-inner-wrap{
        height: 750px;
    }
}

/* XL – Extra Large (Desktops) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* your styles */
}

/* XXL – Extra Extra Large (Large Screens) */
@media (min-width: 1400px) {
    /* your styles */
}